* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.mobie {
  display: none;
}

html {
  font-family: sans-serif;
}

body {
  background-color: white;
  display: flex;
  background-color: white;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: #11111f;
}

a {
  text-decoration: none;
  color: #84bd00;
}

.headerr {
  background-color: #3d5504;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 100;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 80px;
  align-items: center;
  color: white;
}

.header__logo {
  width: 80px;
  height: 70px;
  border-radius: 5px;
  cursor: pointer;
}

.header__menu {
}

.header__menu ul {
  list-style-type: none;
  display: flex;
  cursor: pointer;
}

.header__menu ul li {
  margin-right: 16px;
  font-family: "Poppins", sans-serif;
  /* font-family: "IBM Plex Sans", sans-serif; */
  font-size: 20px;
  cursor: pointer;
}

.header__menu ul li a {
  color: white;
  text-decoration: none;
}

.nav-link.active {
  background-color: #4caf50; /* Màu nền khi mục được chọn */
  color: white; /* Màu chữ khi mục được chọn */
}
.header__menu ul li a:hover {
  color: #84bd00;
  transform: scale(1.5) translateY(-10px);
}

.header__contact {
  font-size: 30px;
}

.header__contact a {
  display: inline-block;
  text-decoration: none;
  color: white;
}

.header__contact a:hover {
  cursor: pointer;
  color: #84bd00;
}
div#google_translate_element div.goog-te-gadget-simple {
  background-color: green;
}
div#google_translate_element
  div.goog-te-gadget-simple
  a.goog-te-menu-value
  span {
  color: yellow;
}
div#google_translate_element
  div.goog-te-gadget-simple
  a.goog-te-menu-value
  span:hover {
  color: #fff;
}

.container {
  width: 1200px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* slider */
.banner__1 {
  width: 100%;
  margin: 150px auto 0;
  display: flex;
  justify-content: center;
  margin-top: 110px;
}

.banner__bg {
  width: 1200px;
}

.banner__1 .banner {
  display: flex;
  justify-content: space-between;
  height: 235px;
}

.banner__1 .banner .slider {
  /* overflow: hidden; */
  width: 796px;
}

.banner__1 .banner .banner__state {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 398px;
  cursor: pointer;
}

.banner__1 .banner .banner__state img {
  width: 100%;
  height: 115px;
}

/* slider */

.slider {
  width: 796;
  height: 235px;
  overflow: hidden;
  position: relative;
}

.slider .slides {
  width: 500%;
  height: 235px;
  display: flex;
}

.slider .slides input {
  display: none;
}

.slider .slides .slide {
  width: 20%;
  transition: 0.8s;
}

.slider .slides .slide img {
  width: 800px;
  height: 235px;
}

.slider .slides .slide img:hover {
  cursor: pointer;
}

/* css for manual slide navigation */

.slider .navigation-manual {
  position: absolute;
  width: 800px;
  margin-top: -15px;
  display: flex;
  justify-content: center;
}

.slider .navigation-manual .manual-btn {
  border: 2px solid #11111f;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.slider .navigation-manual .manual-btn:not(:last-child) {
  margin-right: 20px;
}

.slider .navigation-manual .manual-btn:hover {
  background: #84bd00;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

/* css for automatic navigation */
.slider .slides .navigation-auto {
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 220px;
}

.slider .slides .navigation-auto div {
  border: 2px solid #11111f;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.slider .slides .navigation-auto div:not(:last-child) {
  margin-right: 20px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #84bd00;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #84bd00;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #84bd00;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: #84bd00;
}
/* information__desc */
.information {
  width: 100%;
  height: 600px;
  margin-top: 36px;
  display: flex;
  flex-direction: column;
}

.information p {
  line-height: 50px;
  display: flex;
  justify-content: center;
  font-size: 26px;
  font-weight: 500;
  color: #84bd00;
}
.information img {
  width: 600px;
}

.information__desc {
  display: flex;
}

.information__desc div {
  width: 600px;
  text-align: justify;
  display: flex;
  flex-direction: column;
}

.information__desc div .button {
  width: 150px;
  height: 60px;
  background-color: #11111f;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #84bd00;
  border-radius: 10px;
  margin-left: 20px;
  margin-top: 10px;
  cursor: pointer;
}

.information__desc div .button:hover {
  transform: scale(1.1);
  color: red;
}

.information__desc .information__text {
  width: 560px;
  margin-left: 20px;
}

.information__desc .information__text h1 {
  font-size: 36px;
  margin-bottom: 10px;
  color: #3d5504;
}

.information__desc .information__text p {
  font-size: 20px;
  line-height: 24px;
  margin-top: 10px;
  color: #84bd00;
}

.information__2 {
  width: 560px;
  margin-left: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
}

.information__2 div {
  width: 260px;
  text-align: left;
}

.information__2 div:last-child {
  margin-right: 20px;
}

.information__2 div h1 {
  font-size: 20px;
  margin-top: 20px;
  color: #3d5504;
}

.information__2 div i {
  font-size: 40px;
}

.information__2 div p {
  font-size: 20px;
  line-height: 24px;
  margin-top: 20px;
  color: #84bd00;
}

/* dichvu */
.dichvu {
  width: 100%;
  height: 300px;
  margin-top: 200px;
}

.dichvu__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.dichvu__heading p {
  font-size: 26px;
  font-weight: 500;
  color: #84bd00;
}

.dichvu__heading h1 {
  font-size: 36px;
  color: #3d5504;
}

.dichvu .dichvu__content {
  margin-top: 50px;
}

.dichvu .dichvu__content:last-child {
  margin-top: 30px;
}

.dichvu .dichvu__content ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.dichvu .dichvu__content ul li {
  width: 380px;
  padding: 30px;
  background-color: #84bd00;
  height: 620px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 8px;
}

.dichvu .dichvu__content ul li .content__button {
  display: flex;
  justify-content: space-between;
}

.dichvu .dichvu__content ul li .content__button div:hover {
  transform: scale(1.1);
  color: red;
}

.dichvu .dichvu__content ul li .content__button div {
  width: 150px;
  height: 60px;
  background-color: #11111f;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.dichvu .dichvu__content ul li img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.dichvu .dichvu__content ul li img:hover {
  transform: scale(1.1);
  transform-origin: 50% 50%;
  height: 200px;
  width: 320px;
}

.dichvu .dichvu__content ul li h2 {
  margin-top: 20px;
}

.dichvu .dichvu__content ul li p {
  margin-top: 20px;
  font-size: 20px;
  line-height: 24px;
  margin-top: 20px;
  color: white;
}

/* client */
.client {
  margin-top: 1140px;
}

.client__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.client__heading p {
  font-size: 26px;
  font-weight: 500;
  color: #84bd00;
}

.client__heading h1 {
  font-size: 36px;
  color: #3d5504;
}

.client ul li div {
  display: flex;
}

.client ul li div .text {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.client ul li div .text h1 {
  font-size: 26px;
}
.client ul li div .text p {
  font-size: 20px;
  color: #3d5504;
  line-height: 0;
}

.client ul li {
  width: 400px;
  height: 280px;
  background-color: #84bd00;
  padding: 30px;
  list-style-type: none;
  position: relative;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  color: #3d5504;
}

.client ul li:nth-child(2) {
  box-shadow: 0px 0px 16px 30px rgba(0, 0, 0, 0.1);
  z-index: 1;
  color: white;
}

.client ul li:nth-child(2) .text h1 {
  color: #111119;
}
.client ul li:nth-child(2) .text p {
  color: #111119;
}
.client ul li:nth-child(2) p {
  color: white;
}

.quote {
  position: absolute;
  top: -20px;
  right: 20px;
}

.quote i {
  font-size: 60px;
}

.client ul li p {
  margin-top: 20px;
  font-size: 20px;
  line-height: 24px;
  margin-top: 20px;
  color: #84bd00;
  text-align: justify;
}

.client ul li div img {
  width: 100px;
  height: 100px;
}

.client ul li:first-child {
  background-color: white;
}

.client ul li:last-child {
  background-color: white;
}

.client ul {
  display: flex;
  margin-top: 50px;
}

/* footer */
.siding {
  width: 1200px;
  height: 500px;
  margin-top: 2400px;
}

.siding ul {
  display: flex;
  justify-content: space-between;
}

.siding ul li {
  display: flex;
  align-items: center;
  width: 285px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid;
  color: #84bd00;
}

.siding ul li .icon {
}

.siding ul li .icon i {
  font-size: 40px;
  height: 100px;
  line-height: 100px;
}

.siding ul li .text {
  margin-left: 10px;
}

.siding ul li .text h1 {
  font-size: 18px;
}

.siding ul li .text p {
  font-size: 18px;
  color: #84bd00;
  text-align: start;
  letter-spacing: normal;
  margin-top: 10px;
}

/* footer */
.footer {
  width: 100%;
  height: 400px;
  background-color: #09090e;
  margin-top: -260px;
  padding: 50px;
  color: rgb(132, 189, 0);
  display: flex;
}

.footer__qr {
  margin-left: 30px;
}

.footer__qr ul {
  display: flex;
  list-style-type: none;
  width: 700px;
  justify-content: space-between;
}

.footer__qr ul li img {
  width: 150px;
  height: 150px;
}

.footer .heading,
.footer__qr.heading {
  font-size: 30px;
  margin-bottom: 30px;
}

.footer .info {
  display: flex;
  margin-bottom: 6px;
}

.footer .info i {
  font-size: 20px;
}

.footer .info p {
  margin-left: 10px;
  font-size: 20px;
}

.footer .social {
  list-style-type: none;
  margin-top: 20px;
  display: flex;
}

.footer .social li i {
  font-size: 40px;
  cursor: pointer;
  margin-right: 10px;
}

.button__contact {
  width: 100px;
  height: 100px;
  position: fixed;
  bottom: 120px;
  left: 10px;
  list-style-type: none;
}

.line {
  position: relative;
}

.line:hover + .line_sub {
  display: block;
}

.line_sub {
  position: absolute;
  top: -130px;
  right: -150px;
  height: 200px;
  width: 200px;
  display: none;
}

.button__contact li {
  margin-bottom: 15px;
  width: 40px;
  height: 40px;
  animation: zoomAndShake 2s ease-in-out infinite;
}

@keyframes zoomAndShake {
  0%,
  100% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.1) rotate(5deg);
  }
}

.button__contact li img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.button__contact li i {
  font-size: 40px;
  cursor: pointer;
}

.button__contact li:last-child a {
  text-decoration: none;
  color: white;
  font-size: 30px;
}

.button__contact li:last-child {
  width: 250px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 30px;
}

/* GIOI THIEU */
.giayphep {
  margin-top: 100px;
  margin-bottom: 300px;
}

.giayphep p {
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 30px;
}

/* XE GHEP */
.xeghep {
  width: 1200px;
  margin-bottom: 300px;
}

.xeghep img {
  width: 100%;
}

.xeghep .thongtin {
  width: 100%;
  height: 300px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.xeghep .thongtin h1 {
  text-align: center;
  margin-bottom: 30px;
}

.xeghep .thongtin p {
  font-size: 20px;
  color: #11111f;
  text-align: start;
  letter-spacing: normal;
  margin-top: 10px;
}

.button_xeghep {
  width: 320px;
  height: 80px;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: #11111f;
  color: #84bd05;
  margin-top: 50px;
  padding: 20px;
  cursor: pointer;
}

.button_xeghep:hover {
  transform: scale(1.1);
  color: red;
}

.loiich {
  margin-top: 130px;
}

.loiich ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.loiich ul li {
  width: 380px;
  height: 300px;
}

.loiich ul li p {
  font-size: 20px;
  color: #11111f;
  text-align: start;
  letter-spacing: normal;
  margin-top: 10px;
  padding: 0 10px;
}

.loiich ul li img {
  width: 100%;
  height: 220px;
}

.loiich h1 {
  text-align: center;
  margin-bottom: 30px;
}

/* xe di da nang */
.danang {
  margin-bottom: 2750px;
  display: flex;
  margin-top: 140px;
}

.danang .thuexe_danang {
  width: 800px;
  height: 500px;
}

.danang .thuexe_danang img {
  margin-top: 10px;
  width: 100%;
  height: 550px;
}

.danang .thuexe_danang p {
  font-size: 18px;
  color: #11111f;
  text-align: justify;
  letter-spacing: normal;
  margin-top: 10px;
}

.danang .thuexe_danang h2 {
  margin-top: 30px;
}

.danang .danang__button {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  margin-top: 10px;
}

.danang .danang__button a {
  width: 100%;
}

.danang .danang__button div {
  width: 100%;
  height: 60px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  background-color: #11111f;
  color: #84bd00;
}

.danang .danang__button div:hover {
  transform: scale(1.1);
  color: red;
}

.danang .baivietmoi {
  width: 400px;
  height: 500px;
  padding-left: 30px;
}

.danang .baivietmoi h1 {
  margin-bottom: 10px;
}

.danang .baivietmoi .blog_list {
  list-style-type: none;
}

.danang .baivietmoi ul li {
  display: flex;
  height: 150px;
  cursor: pointer;
}

.danang .baivietmoi ul li p {
  margin-left: 10px;
  font-size: 18px;
  color: #11111f;
  text-align: start;
  letter-spacing: normal;
  padding: 0 10px;
}

.danang .baivietmoi ul li img {
  width: 160px;
  height: 100px;
}

/* blog */
.blog {
  margin-top: 30px;
  display: flex;
}

.blog .blog_list {
  width: 800px;
}

.blog .blog_list a {
  text-decoration: none;
}

.blog .blog_list li {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #11111f;
  padding-bottom: 20px;
}

.blog .blog_list li h2 {
  margin-left: 20px;
  cursor: pointer;
  color: #11111f;
}

.blog .blog_list li p {
  margin-left: 10px;
  font-size: 18px;
  color: #11111f;
  text-align: justify;
  letter-spacing: normal;
  padding: 0 10px;
}
.blog ul li img {
  width: 300px;
  height: 150px;
  cursor: pointer;
}

.blog .baivietmoi {
  width: 430px;
  padding-left: 30px;
}

.blog .baivietmoi a {
  text-decoration: none;
}

.blog .baivietmoi ul {
  list-style-type: none;
}

.blog .baivietmoi ul li {
  display: flex;
  height: 150px;
  cursor: pointer;
}

.blog .baivietmoi ul li img {
  width: 160px;
  height: 100px;
}

.blog .baivietmoi ul li p {
  margin-left: 10px;
  font-size: 18px;
  color: #11111f;
  text-align: start;
  letter-spacing: normal;
  padding: 0 10px;
}

.blog .baivietmoi .li {
  display: flex;
  height: 150px;
  cursor: pointer;
}

.container__blog {
  margin-bottom: 1300px;
}

/* bai viet */
.blog .blog__content {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

/* .button_baiviet {
  width: 800px;
} */

.blog .blog__content img {
  width: 100%;
}

.container__baiviet1 {
  margin-bottom: 3800px;
}

.blog_baiviet {
  margin-top: 100px;
}

.blog_baiviet h1 {
  margin-top: 30px;
}

.blog_baiviet h2 {
  margin-top: 20px;
}

.baiviet {
  margin-left: 20px;
}

/* css mobie */
.header__menu--mobie i {
  font-size: 40px;
  cursor: pointer;
  margin-right: 10px;
  position: relative;
  display: none;
}

.header__menu--mobie ul {
  list-style-type: none;
  position: absolute;
  top: 60px;
  background: #3d5504;
  right: 10px;
  display: none;
}

.header__menu--mobie ul li {
  padding: 10px;
}

.header__menu--mobie ul li:hover {
}

.headder__phone--mobie {
  display: none;
}

.siding__baiviet {
  margin-top: -650px;
}

/* responsive */
@media only screen and (max-width: 600px) {
  /* Áp dụng các kiểu CSS cho màn hình di động */

  .mobie {
    display: block;
  }
  .header__menu--mobie i {
    display: block;
  }

  .header__menu {
    display: none;
  }
  .container .banner__1 {
    display: none;
  }
  .header__contact {
    display: none;
  }

  .dichvu {
    margin-top: 120px;
  }

  .dichvu .dichvu__content {
    width: 100%;
  }
  .dichvu .dichvu__content ul {
    flex-direction: column;
    align-items: center;
  }

  .dichvu .dichvu__content ul li {
    margin-bottom: 20px;
  }

  .dichvu .dichvu__content ul li:last-child {
    margin-bottom: 0;
  }
  .siding ul li {
    margin-bottom: 20px;
  }
  .client {
    margin-top: 3700px;
    padding-bottom: 20px;
  }

  .client ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .client ul li:first-child {
    background-color: white;
  }
  .client ul li:last-child {
    background-color: white;
  }
  .siding {
    margin-bottom: 400px;
    margin-top: 100px;
  }

  .siding ul {
    display: flex;
    justify-content: space-between;

    flex-direction: column;
    align-items: center;
  }

  .headder__phone--mobie {
    display: block;
    font-size: 30px;
  }
  .footer {
    flex-direction: column;
    align-items: center;
  }

  .footer__qr p {
    text-align: center;
    margin-top: 30px;
  }

  .footer__qr ul li {
    margin-bottom: 20px;
  }
  .footer__qr ul {
    flex-direction: column;
    align-items: center;
    background-color: #09090e;
  }
  body {
    overflow-x: hidden;
    max-width: 100%;
  }
  html {
    overflow-x: hidden;
  }

  .container__blog {
    overflow-x: hidden;
  }

  .danang {
    overflow-x: hidden;
  }

  .blog {
    overflow-x: hidden;
  }
  .container {
    overflow-x: hidden;
  }

  .blog_baiviet {
    overflow-x: hidden;
  }
  .banner__1 {
    overflow-x: hidden;
  }

  /* xe ghep */
  .xeghep .thongtin h1 {
    width: 450px;
  }
  .xeghep .thongtin p {
    width: 450px;
  }

  .loiich {
    margin-top: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .loiich ul {
    display: flex;
    flex-direction: column;
  }
  .loiich h1 {
    width: 450px;
  }

  /* .button__baiviet {
    width: 800px;
  } */

  /* danang */
  .danang .baivietmoi {
    display: none;
  }

  .danang {
    margin-top: 100px;
    height: 1120px;
    margin-bottom: 350px;
  }

  .thuexe_danang {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .danang .thuexe_danang img {
    width: 450px;
  }
  .danang .thuexe_danang p {
    width: 450px;
  }

  .danang .thuexe_danang h2 {
    width: 450px;
  }
  .danang .thuexe_danang h1 {
    width: 450px;
  }

  .thuexe_danang h1 {
    width: 450px;
  }

  /* blog */
  .container__blog .banner__1 {
    display: none;
  }

  .blog {
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }

  .container__blog {
    margin-bottom: 200px;
  }

  .container__blog .blog .blog_list {
    display: none;
  }

  /* bai viet */
  .container .blog_baiviet .baivietmoi {
    display: none;
  }
  .blog__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .blog_baiviet .blog__content ul li {
    width: 450px;
  }

  .blog_baiviet .blog__content img {
    width: 450px;
  }

  .container .blog_baiviet .blog__content h1 {
    width: 450px;
  }

  .container .blog_baiviet .blog__content p {
    width: 450px;
  }
  .container .blog_baiviet .blog__content h2 {
    width: 450px;
  }

  .giayphep img {
    width: 450px;
  }

  .container__blog {
    width: 100%;
  }

  .container__blog .blog__content {
    display: flex;
    align-items: center;
  }

  .siding__baiviet {
    display: none;
  }
  .container__baiviet {
    margin-bottom: 400px;
  }

  /* .container__blog .blog__content h1 {
    width: 450px;
  }

  .container__blog .blog__content p {
    width: 450px;
  } */

  .information {
    display: flex;
    justify-content: center;
    margin-top: 750px;
    width: 100%;
    margin-bottom: 600px;
  }

  .information .information__desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .information__2 {
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
    width: 100% !important;
  }

  .information__2 {
    width: 100% !important;
  }

  .mobie__sub {
    color: #84bd00 !important;
    font-weight: 500;
    width: 450px;
    text-align: left !important;
  }

  .information__2 > div {
    width: 600px;
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
  .information__2 h1 {
    display: inline-block;
  }

  .information__desc--mobie {
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .information__desc--mobie h1 {
    text-align: center;
  }

  .information .information__desc div p {
    width: 450px;
  }

  .information .information__text {
    width: 450px;
    margin-left: -10px;
  }

  .information .information__desc img {
    width: 450px;
  }

  #mobie_nonee {
    display: none !important;
  }
}

@media only screen and (max-width: 450px) {
  .information {
    display: flex;
    justify-content: center;
    margin-top: 750px;
    width: 100%;
    margin-bottom: 600px;
  }

  .information .information__desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .information__2 {
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
    width: 100% !important;
  }

  .information__2 {
    width: 100% !important;
  }

  .mobie__sub {
    color: #84bd00 !important;
    font-weight: 500;
    width: 350px;
    text-align: left !important;
  }

  .information__2 > div {
    width: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
  .information__2 h1 {
    display: inline-block;
  }

  .information__desc--mobie {
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .information__desc--mobie h1 {
    text-align: center;
  }

  .information .information__desc div p {
    width: 350px;
  }

  .information .information__text {
    width: 350px;
    margin-left: -10px;
  }

  .information .information__desc img {
    width: 350px;
  }
  .danang .thuexe_danang img {
    width: 350px;
  }
  .danang .thuexe_danang p {
    width: 350px;
  }

  .danang .thuexe_danang h2 {
    width: 350px;
  }
  .danang .thuexe_danang h1 {
    width: 350px;
  }

  .thuexe_danang h1 {
    width: 350px;
  }
  .xeghep .thongtin h1 {
    width: 350px;
  }
  .xeghep .thongtin p {
    width: 350px;
  }

  .loiich {
    margin-top: 600px;
  }

  .baivietmoi ul li {
    width: 380px;
  }

  .container .blog_baiviet .blog__content h1,
  .container .blog_baiviet .blog__content p,
  .container .blog_baiviet .blog__content img,
  .container .blog_baiviet .blog__content h2,
  .container .blog_baiviet .blog__content ul li {
    width: 350px;
  }

  .giayphep img {
    width: 350px;
  }

  .blog_baiviet .blog__content ul li {
    width: 350px;
  }

  .blog_baiviet .blog__content img {
    width: 350px;
  }

  .container .blog_baiviet .blog__content h1 {
    width: 350px;
  }

  .container .blog_baiviet .blog__content p {
    width: 350px;
  }
  .container .blog_baiviet .blog__content h2 {
    width: 350px;
  }

  .container__baiviet {
    width: 100%;
  }
}

#text__maso {
  display: flex;
  justify-content: flex-start;
}

.siding__baiviet3,
.siding__baiviet5 {
  margin-top: -450px;
}

.siding__danang {
  margin-top: -600px;
}
.siding__baiviet7 {
  margin-top: -600px;
}

#redd {
  color: red;
  margin-left: 8px;
  display: inline-block;
}

#text__maso {
  color: #3d5504 !important;
}

#phone__contact {
  color: white;
}

.button__translate {
  position: fixed;
  width: 100px;
  height: 100px;
  right: -30px;
  bottom: -50px;
  cursor: pointer;
}

.button__translate img {
  width: 100%;
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.button__translate--sub {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -30px;
  left: -30px;
  display: none;
}

.button__translate {
  position: fixed;
  width: 100px;
  height: 100px;
  right: -30px;
  bottom: -40px;
  cursor: pointer;
}

.fixed-con {
  z-index: 9724790009779558 !important;
  background-color: #f7f8fc;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
}
.VIpgJd-ZVi9od-aZ2wEe-wOHMyf {
  z-index: 9724790009779 !important;
  top: 0;
  left: unset;
  right: -5px;
  display: none !important;
  border-radius: 50%;
  border: 2px solid gold;
}
.VIpgJd-ZVi9od-aZ2wEe-OiiCO {
  width: 80px;
  height: 80px;
}

#google_translate_element select {
  background-color: #f6edfd;
  color: #383ffa;
  border: none;
  border-radius: 3px;
  padding: 6px 8px;
  width: 80px;
  font-size: 20px;
}

.goog-logo-link {
  display: none !important;
}
.goog-te-gadget {
  color: transparent !important;
}

.goog-te-banner-frame {
  display: none !important;
}
#goog-gt-tt,
.goog-te-balloon-frame {
  display: none !important;
}
.goog-text-highlight {
  background: none !important;
  box-shadow: none !important;
}

.siding__baiviet10 {
  margin-top: 3200px;
}
.siding__danang {
  margin-top: 1000px;
}

.blog__content h1,
.blog__content h2 {
  color: #3d5504;
}

.blog__content p {
  font-size: 22px;
  margin-top: 10px;
  color: #84bd05;
}

.siding__hue {
  margin-top: -200px;
}

.siding__baiviet33 {
  margin-top: -150px;
}

.siding__baiviet55 {
  margin-top: -500px;
}

.siding__baiviet77 {
  margin-top: 350px;
}

.footer {
  height: 100% !important;
}

.footer_mobie .heading {
  margin-top: 40px;
}

#quay {
  font-size: 20px;
}

.siding__baiviet2 {
  margin-top: -600px;
}

.mt {
  margin-top: 30px;
}
